<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='variables.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='cards/steam.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='photoswipe/photoswipe.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='photoswipe/photoswipe-dynamic-caption-plugin.css') }}">
    </head>
    <body>
        <script src="{{ url_for('static', filename='theme_toggle_iframe.js') }}"></script>
        <a class="top" href="{{ steam_user.profileurl }}" target="_top">
            <div class="profileSpace">
                <img src="{{ steam_user.avatarfull }}" class="avatar" alt="avatar">
                <div>
                    <div class="nameSpace">
                        <span>
                            {{ steam_user.personaname }}
                        </span>
                        <div>
                            {% include 'info_panel/icons/steam.svg' %}
                        </div>
                    </div>
                    <div class="nameSpaceSecond">
                        <span class="lastOnline {{ steam_user.onlineState }}"><div class="icon"><div></div></div> {{ steam_user.lastlog }}</span>
                        <span class="timeCreate">{{ steam_user.timecreated_word }}</span>
                    </div>
                    <div class="percent">
                        <span>
                            {{ steam_badges.player_level_word }}
                        </span>
                        <div class="percentLine">
                            <div style="width: {{ steam_badges.percent }}%;"></div>
                            <span style="--percent: {{ steam_badges.percent }}%;">{{ steam_badges.percent }}%</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <div class="games">
            <div>
                {% for game in steam_games %}
                <a href="{{ game.gamelink }}">
                    <img src="{{ game.vlogo }}" alt="logo {{ game.name }}" onerror="this.onerror=null; this.src='{{ url_for("static", filename="img/no_image.webp") }}';">
                    <div class="gamePlayTime">{{ game.playtime_word }}</div>
                </a>
                {% endfor %}
            </div>
        </div>
    </body>
</html>