.info-panel-toggle {
    display: none;
    position: fixed;
    bottom: 130px;
    z-index: 1100;
    padding: 11px;
    padding-top: 13px;
    background: var(--color-accent);
    border-radius: 100%;
    cursor: pointer;
    aspect-ratio: 1;
    transition: all 0.1s;
    border: none;
    opacity: 0.4;

    left: 50px;  /* ставим левый край в середину окна */
    transform: translateX(-50%); /* сдвигаем элемент влево на половину его ширины */
}
.info-panel-toggle:hover {
    background: var(--color-accent-hover);
    opacity: 1;
}

.info-panel-toggle {
    flex-direction: column;
    align-items: center;
    height: auto;
}

/* span внутри menu-btn-tree */
.info-panel-toggle span {
    height: 3px;
    background: #4e4e4e;
    position: relative;
    display: block;
    margin: 4px 0;
    border-radius: 2px;
    transition: all 0.2s linear;
}

/* Отдельные span */
.info-panel-toggle span:nth-child(1) {
    width: 20px;
    margin-right: auto;
}

.info-panel-toggle span:nth-child(2) {
    width: 40px;
}

.info-panel-toggle span:nth-child(3) {
    width: 20px;
    margin-left: auto;
}

/* Стили при checked */
.info-panel-toggle.active > span:nth-child(1) {
    transform: rotate(45deg) translate(4px, 1px);
    background: #f4f726;
    box-shadow: 0 0 2em 0.2em #f4f726;
}

.info-panel-toggle.active > span:nth-child(2) {
    transform: rotate(-45deg);
    background: #f4f726;
    box-shadow: 0 0 2em 0.2em #f4f726;
}

.info-panel-toggle.active > span:nth-child(3) {
    display: block;
    transform: rotate(45deg) translate(-4px, 0px);
    background: #f4f726;
    box-shadow: 0 0 2em 0.2em #f4f726;
}
