
.main-grid {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.main-grid > div {
    background: var(--color-bg-secondary);
    aspect-ratio: 3 / 1.5;
    max-height: 290px;
    border-radius: 15px;
    padding: 15px;
}

.main-grid > div .top .avatar {
    height: 100%;
    width: auto;
}

@media (max-width: 1888px) {
    .main-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}@media (max-width: 1240px) {
    .main-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
