
.main-grid {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.frame {
    --normal-ar: 3 / 1.5;
    --mini-ar: 3 / 1.7;

    position: relative;
    aspect-ratio: var(--normal-ar);
    border-radius: 15px;
    overflow: hidden;
    background: var(--color-bg-secondary);
}

/* нижняя анимация */
.shimmer {
    position: absolute;
    inset: 0;
    --ctrs: color-mix(in srgb, var(--color-bg-secondary) 80%, var(--contrast-color, #fff) 20%);
    background: linear-gradient( 90deg, var(--color-bg-secondary) 0%, var(--ctrs) 50%, var(--color-bg-secondary) 100% );
    background-size: 200% 100%;
    animation: shimmer 3s linear infinite;
}

/* iframe поверх */
.frame iframe {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;

    opacity: 0;
    transition: opacity .4s ease;
}

/* iframe загрузился */
.frame iframe.loaded {
    opacity: 1;
}

/* когда iframe полностью появился — останавливаем анимацию */
.frame iframe.loaded ~ .shimmer,
.frame iframe.loaded + .shimmer {
    animation: none;
    opacity: 0;
}

@keyframes shimmer {
    from { background-position: 200% 0; }
    to   { background-position: -200% 0; }
}


@media (max-width: 1888px) {
    .main-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}@media (max-width: 1630px) {
    .frame {
        aspect-ratio: var(--mini-ar);
    }
}@media (max-width: 1440px) {
    .main-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .frame {
        aspect-ratio: var(--normal-ar);
    }
}@media (max-width: 999px) {
    .frame {
        aspect-ratio: var(--mini-ar);
    }
}@media (max-width: 919px) {
    .frame {
        aspect-ratio: var(--normal-ar);
    }
}@media (max-width: 780px) {
    .frame {
        aspect-ratio: var(--mini-ar);
    }
}@media (max-width: 699px) {
    .frame {
        aspect-ratio: var(--normal-ar);
    }
}@media (max-width: 450px) {
    .main-grid {
        padding: 20px;
    }
    .frame {
        aspect-ratio: var(--mini-ar);
    }
}
