
.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
}

.nav-item {
    position: relative;
}

.nav-link {
    display: block;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: var(--color-text-primary);
    position: relative;
    z-index: 1;
}
a.nav-link:visited {
    color: var(--color-text-primary);
}
a.nav-link:hover {
    color: var(--color-accent);
}

div.nav-item {
    cursor: auto;
}
div.nav-item .title {
    opacity: 0.85;
}

.nav-link div {
    display: flex;
}

.nav-link svg {
    max-width: 24px;
    max-height: 24px;
    color: var(--color-accent);
    margin-right: 5px;
}

.nav-link:hover {
    background-color: var(--color-hover-bg);
}

.sub-nav {
    list-style: none;
    margin: 0;
    padding-left: 20px;
}

.hover-bar {
    z-index: 999;
    position: absolute;
    right: 0;
    width: 4px;
    background-color: var(--color-accent);
    top: 0;
    height: 0;
    transition: top 0.2s, height 0.2s, opacity 0.2s;
    opacity: 0;
    z-index: 0;
}

.sub-nav {
    margin-left: 16px;
    padding-left: 16px;
}

/* подпункт */
.sub-nav .nav-item {
    position: relative;
}

/* вертикаль */
.sub-nav .nav-item::before {
    content: "";
    position: absolute;
    left: -16px;
    top: 0;
    bottom: 0;
    width: var(--navigation-submenu-line-width);
    background-color: var(--color-accent);
}

/* горизонталь */
.sub-nav .nav-item::after {
    content: "";
    position: absolute;
    left: -16px;
    top: 50%;
    width: 16px;
    height: var(--navigation-submenu-line-width);
    background-color: var(--color-accent);
}

/* последний пункт — ОБРЫВ */
.sub-nav .nav-item:last-child::before {
    bottom: 50%;
}

.navigation-menu-toggle {
    display: none;
    position: fixed;
    top: 0;
    z-index: 9999;
    right: 0;
    border: none;
    border-bottom-left-radius: 10px;
    background: var(--color-bg-secondary);
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 15px;
}
.navigation-menu-toggle.active {
    right: var(--navigation-width);
}

.switch-cont {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
