
#paper {
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding: 10px;
    max-width: 100%;
    width: 650px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#paper > h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

#paper > p > a > img {
    width: 100%;
}

#paper > .pswp-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 10px;
  overflow: hidden;
}
#paper > .pswp-gallery > :only-child {
  grid-column: 1 / -1;
}
