
#paper {
    padding: 10px;
    max-width: 700px;
}

#paper > h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

#paper > p > a > img {
    width: 100%;
    border-radius: 10px;
}

#paper > p.pswp-gallery {
    --marg: 10px;
    margin-top: var(--marg);
    margin-bottom: var(--marg);
}
