.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    padding: 20px;
}

.user-info {
    text-align: center;
    display: flex;
    align-self: center;
}

.user-info > div {
    margin-left: 15pt;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.nickname {
    margin: 0;
    font-size: 1.5em;
}

.details {
    font-size: 0.8em;
    color: var(--color-text-secondary);
    line-height: 1.2em;
}

.skills-pie {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.pie-container {
    position: relative;
    width: 116px;
    height: 95px;
}

.pie-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 0.9em;
}

.skills-bar .bar-item {
    margin-bottom: 20px;
}

.bar-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 5px;
}

.bar-header .bar-percent {
    margin-left: 10px;
    color: var(--color-text-secondary);
}

.description.bar {
    font-size: 0.8em;
    margin-bottom: 5px;
}

.ct-chart-bar {
    height: 10px;
}

.social-footer {
    margin-top: auto;
    text-align: center;
    margin-top: 7pt;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 300px;
    align-self: center;
}

.social-footer * {
    width: 50px;
    height: 50px;
    margin: 0px;
}

.sidebar-scroll {
    overflow-y: auto;        /* скролл на wrapper */
    padding-right: 12px;     /* сдвигаем скролл вправо */
    box-sizing: content-box; /* чтобы padding не уменьшал ширину контента */
    /* Маска применяется только к контенту */
    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0px,
        black 24px,
        black calc(100% - 24px),
        transparent 100%
    );
    mask-image: linear-gradient(
        to bottom,
        transparent 0px,
        black 24px,
        black calc(100% - 24px),
        transparent 100%
    );
}

.progress-bar {
    height: 10px;
    background: var(--color-accent-disabled);
    border-radius: 3px;
    overflow: hidden;
}

.progress-fill {
    width: var(--percent);
    height: 100%;
    background: var(--color-accent);
    border-radius: 10px 0 0 10px;
    transition: width 0.3s ease;
}

