* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden; /* скрывает горизонтальный скролл */
}


body {
    font-family: sans-serif;
    background: var(--color-bg-primary);
    color: var(--color-text-primary);
}

a {
    color: var(--color-accent);
    text-decoration: none;
    font-weight: bold;
}
a:visited {
    color: var(--color-accent-dark);
}
a:hover {
    color: var(--color-accent-hover);
}

/* фон (оставшаяся часть) */
.ct-series-a .ct-slice-donut {
    stroke: var(--color-accent-disabled);
}

/* заполненная часть */
.ct-series-b .ct-slice-donut {
    stroke: var(--color-accent);
}

/* контейнер */
.layout {
    display: flex;
    height: 100vh;
}

/* левая панель */
.sidebar {
    width: var(--sidebar-width);
    background: var(--color-bg-secondary);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transition: transform 0.3s ease;
    z-index: 900;
}

.navigation {
    width: var(--navigation-width);
    background: var(--color-bg-secondary);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    transition: transform 0.3s ease;
    z-index: 1000;
}

/* центральная часть */
.content {
    margin-left: var(--sidebar-width);
    margin-right: var(--navigation-width);
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    height: 100vh;
}


/* мобильное состояние */
@media (max-width: 699px) {
    .sidebar {
        width: 100vw;
        transform: translateX(-100%);
    }

    .sidebar.open {
        transform: translateX(0);
    }

    .content {
        margin-left: 0;
    }

    .info-panel-toggle {
        display: flex;
    }
}

@media (max-width: 920px) {
    .navigation {
        transform: translateX(100%);
    }

    .navigation.open {
        transform: translateX(0);
    }

    .content {
        margin-right: 0;
    }

    .navigation-menu-toggle {
        display: flex;
    }

    #navigation-background.active {
        position: fixed;
        height: 100%;
        width: 100%;
        background: black;
        opacity: 0.5;
        z-index: 999;
    }
}

@media (min-width: 1200px) {
    .sidebar {
        width: var(--sidebar-width-wide);
    }
    .content {
        margin-left: var(--sidebar-width-wide);
    }
}
