#timeline {
  position: relative;
}

#timeline.element-hovered :not(i-hovered) {
  opacity: 0.3;
}
#timeline.element-hovered #timeline-items {
  opacity: 1;
}
#timeline.element-hovered .i-hovered {
  opacity: 1;
}
.timeline-label, .timeline-point, .timeline-range {
  transition: opacity 0.5s ease 0.05s;
}

.timeline-axis {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #444;
  transform: translateX(-50%);
}

/* Диапазоны */
.timeline-range {
  position: absolute;
  left: 50%;
  width: 6px;
  transform: translateX(-50%);
  border-radius: 3px;
}

/* Точки */
.timeline-point {
  position: absolute;
  left: 50%;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.timeline-range, .timeline-point {
  background: color-mix(in srgb, rgb(21, 21, 21) 30%, var(--clr) 70%);
}

/* Текст */
.timeline-label {
  position: absolute;
  top: var(--y);
  transform: translateY(-50%);
  max-width: 320px;
  padding: 6px 10px;
  background: color-mix(in srgb, rgb(21, 21, 21) 90%, var(--clr) 10%);;
  border-radius: 6px;
}

/* СТОРОНЫ — СТРОГО СИММЕТРИЧНЫ */
.timeline-label.right {
  left: calc(50% + 30px + var(--lane) * 10px);
}

.timeline-label.left {
  right: calc(50% + 30px + var(--lane) * 10px);
  text-align: right;
}
