:root {
    font-family: sans-serif;

    --sidebar-width: 300px;
    --sidebar-width-wide: 400px;

    --navigation-width: 200px;
    --navigation-submenu-line-width: 1px;

    --dark-sec: #1E1E1E;
    --light-sec: #F5F5F5;
    --gray: #4b4b4b;

    /* Основные цвета */
    --contrast-color: white;
    --color-bg-primary: #121212;
    --color-bg-secondary: var(--dark-sec);
    --color-text-primary: #E0E0E0;
    --color-text-secondary: #B0B0B0;

    /* Акцент */
    --color-accent: #4CAF50;
    --color-accent-hover: #38a13d;
    --color-accent-dark: #388E3C;
    --color-accent-disabled: #303A30;
}

:root.light {
    --contrast-color: black;
    --color-bg-primary: #FFFFFF;
    --color-bg-secondary: var(--light-sec);
    --color-text-primary: #212121;
    --color-text-secondary: #515151;
    
    --color-accent: #46984A;
    --color-accent-hover: #579A5B;
    --color-accent-dark: #255E28;
    --color-accent-disabled: #C8E6C9;
}

/* Prevent default View Transition animations for a clean reveal */
::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}
