:root {
  --timeline-dates-widht: 85px;
  --timeline-hover-anim-time: 0.5s ease;
  --timeline-wait: 0.1s;
}


#timeline {
  position: relative;
  max-width: 2000px;
  left: 50%;
  transform: translateX(-50%);
}

#timeline-body {
  width: calc(100% - (var(--timeline-dates-widht) * 2));
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

#timeline.element-hovered > #timeline-body > :not(.i-hovered) {
  filter: brightness(0.4);
}
#timeline.element-hovered > #timeline-body #timeline-items > :not(.i-hovered) {
  filter: brightness(0.4);
}
#timeline.element-hovered > #timeline-body #timeline-items {
  filter: brightness(1.0);
}
#timeline.element-hovered > #timeline-body .i-hovered {
  filter: brightness(1.0);
  cursor: help;
}
#timeline.element-hovered > #timeline-body .timeline-label.i-hovered {
  z-index: 10;
}
.timeline-label, .timeline-point, .timeline-range {
  transition: filter var(--timeline-hover-anim-time) var(--timeline-wait);
}

.timeline-axis {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #444;
  transform: translateX(-50%);
}

/* Диапазоны */
.timeline-range {
  position: absolute;
  left: 50%;
  width: 8px;
  transform: translateX(-50%);
  border-radius: 3px;
}
.timeline-range.now {
  background:
    linear-gradient(
      to bottom,
      color-mix(in srgb, rgb(21, 21, 21) 30%, var(--clr, #fff) 70%) calc(100% - 10px),
      transparent 100%
    );
}


/* Точки */
.timeline-point {
  position: absolute;
  left: 50%;
  aspect-ratio: 1;
  height: 18px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.timeline-range, .timeline-point {
  background: color-mix(in srgb, var(--contrast-color) 30%, var(--clr, #fff) 70%);
}

/* Текст */
.timeline-label {
  position: absolute;
  top: var(--y);
  transform: translateY(-50%);
  max-width: 320px;
  padding: 6px 10px;
  background: color-mix(in srgb, var(--color-bg-primary) 80%, var(--clr, #fff) 20%);
  border-radius: 6px;
  text-wrap: balance;

  overflow: hidden;

  display: grid;
  grid-template-rows: auto 0fr;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 1), 0 4px 12px rgba(0, 0, 0, 0.3);

  transition:
    filter var(--timeline-hover-anim-time) var(--timeline-wait),
    grid-template-rows var(--timeline-hover-anim-time) var(--timeline-wait);
}
.timeline-label.i-hovered {
  grid-template-rows: auto 1fr;
}
.timeline-label > .description {
  overflow: hidden;
  max-width: 0;
  max-height: 0;

  transition:
    max-width var(--timeline-hover-anim-time) var(--timeline-wait),
    max-height var(--timeline-hover-anim-time) var(--timeline-wait);
}
.timeline-label.i-hovered > .description {
  max-width: 100000px;
  max-height: 100000px;

  transition:
    max-width var(--timeline-hover-anim-time) var(--timeline-wait),
    max-height var(--timeline-hover-anim-time) var(--timeline-wait);
}



/* СТОРОНЫ — СТРОГО СИММЕТРИЧНЫ */
.timeline-label.right {
  left: calc(50% + 25px + var(--lane) * 16px);
}

.timeline-label.left {
  right: calc(50% + 25px + var(--lane) * 16px);
  text-align: right;
}

.bounds-timeline {
  z-index: -1;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Боковые панели дат */

.timeline-dates {
  width: var(--timeline-dates-widht);
  position: absolute;
}
.timeline-dates.right {
  right: 0%;
}
.timeline-dates.left {
  left: 0%;
}
.timeline-dates.right > * {
  right: 0%;
}
.timeline-dates.left > * {
  left: 0%;
}
.timeline-dates > * {
  border-radius: 3px;
}

.timeline-dates .major-line {
  position: absolute;
  width: 50%;
  height: 2.5px;
  background-color: var(--contrast-color);
}

.timeline-dates .major-line-text {
  position: absolute;
  transform: translateY(-100%);
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.timeline-dates.right .major-line-text {
  margin-right: 12%;
}
.timeline-dates.left .major-line-text {
  margin-left: 12%;
}

.timeline-dates .minor-line {
  position: absolute;
  width: 10%;
  height: 2px;
  background-color: var(--contrast-color);
}
