* {
	margin: 0;
	padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    height: 100%;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 32px;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 0px;
    text-align: center;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40px;
}

.push {
    height: 40px; /* .push must be the same height as .footer */
}

.content {
	padding-bottom: 90px;
}

.wrapper {
	position: relative;
	min-height: 100%;
}


body {
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13),       transparent),
        radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent)
}
canvas {
    position: fixed;
    width: 100%;
    height: 100%;
}

a {
    position: absolute;
    bottom: 2vmin;
    right: 2vmin;
    color: rgba(255,255,255,0.2);
    text-decoration: none;
}

a:hover {
    color: #fff;
}



