<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Miskler.dev</title>
        <link rel="icon" href="{{ url_for('static', filename='/favicon.ico') }}" type="image/x-icon">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chartist/dist/chartist.min.css">
        <script src="https://cdn.jsdelivr.net/npm/chartist/dist/chartist.min.js"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='variables.css') }}">
        
        <link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='navigation.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='info_panel_button.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <button id="info-panel-buttom-state" class="info-panel-toggle" onclick="toggleSidebar()">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="layout">
            {% include 'info_panel.html' %}

            <main class="content">
                {% block content %}{% endblock %}
            </main>

            {% include 'navigation.html' %}
        </div>
        <script>
            const sidebar = document.getElementById('sidebar');
            const toggleButton = document.getElementById('info-panel-buttom-state');

            function toggleSidebar() {
                const isOpen = sidebar.classList.toggle('open');
                toggleButton.classList.toggle('active', isOpen); // добавляем/убираем класс для гамбургера
            }

            window.addEventListener('DOMContentLoaded', () => {
                toggleButton.classList.toggle('active', sidebar.classList.contains('open'));
            });
        </script>
    </body>
</html>