<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Miskler.dev</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chartist/dist/chartist.min.css">
        <script src="https://cdn.jsdelivr.net/npm/chartist/dist/chartist.min.js"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='variables.css') }}">
        
        <link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='navigation.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='info_panel_button.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='photoswipe/photoswipe.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='photoswipe/photoswipe-dynamic-caption-plugin.css') }}">
    </head>
    <body>
        <button id="info-panel-buttom-state" class="info-panel-toggle burger-toggle" onclick="toggleSidebar()">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <button id="navigation-menu-button-state" class="navigation-menu-toggle burger-toggle" onclick="toggleNavigation()">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <div class="layout">
            {% include 'info_panel.html' %}

            <main class="content">
                {% block content %}{% endblock %}
            </main>

            <div id="navigation-background"></div>
            {% include 'navigation.html' %}
        </div>

        <script>
            const sidebar = document.getElementById('sidebar');
            const toggleButtonInf = document.getElementById('info-panel-buttom-state');

            function toggleSidebar() {
                const isOpen = sidebar.classList.toggle('open');
                toggleButtonInf.classList.toggle('active', isOpen); // добавляем/убираем класс для гамбургера
            }

            window.addEventListener('DOMContentLoaded', () => {
                toggleButtonInf.classList.toggle('active', sidebar.classList.contains('open'));
            });
        </script>

        <script>
            const navigation = document.getElementById('navigation');
            const navigationBackground = document.getElementById('navigation-background');
            const toggleButtonNav = document.getElementById('navigation-menu-button-state');

            function toggleNavigation() {
                const isOpen = navigation.classList.toggle('open');
                toggleButtonNav.classList.toggle('active', isOpen); // добавляем/убираем класс для гамбургера
                navigationBackground.classList.toggle('active', isOpen);
            }

            window.addEventListener('DOMContentLoaded', () => {
                const isOpen = navigation.classList.contains('open');
                toggleButtonNav.classList.toggle('active', isOpen);
                navigationBackground.classList.toggle('active', isOpen);
            });
        </script>

        <script type="module">
            import PhotoSwipeLightbox from "{{ url_for('static', filename='photoswipe/photoswipe-lightbox.esm.js') }}";
            // or 'photoswipe-dynamic-caption-plugin' if using package manager
            import PhotoSwipeDynamicCaption from "{{ url_for('static', filename='photoswipe/photoswipe-dynamic-caption-plugin.esm.js') }}";
            import PhotoSwipeThumbsPlugin from "{{ url_for('static', filename='photoswipe/photoswipe-thumbs-plugin.esm.js') }}";

            const lightbox = new PhotoSwipeLightbox({
                gallery: '.pswp-gallery',
                children: 'a',
                pswpModule: () => import("{{ url_for('static', filename='photoswipe/photoswipe.esm.js') }}"),

                // Optional padding for images,
                // note that this is an option of PhotoSwipe, not a plugin
                paddingFn: (viewportSize) => {
                    return {
                    top: 30, bottom: 30, left: 70, right: 70
                    }
                },
            });

            const captionPlugin = new PhotoSwipeDynamicCaption(lightbox, {
                // Plugins options, for example:
                type: 'auto',
            });
            const swipePlugin = new PhotoSwipeThumbsPlugin(lightbox);

            // make sure you init photoswipe core after plugins are added
            lightbox.init();
        </script>
        <script src="{{ url_for('static', filename='theme_toggle.js') }}"></script>
    </body>
</html>