{% extends 'base.html' %}

{% block content %}
<div class="main-grid">
    <div>
        <div class="top">
            <div>
                <div class="pswp-gallery">
                    <a href="{{ steam_user.avatarfull }}" data-pswp-width="800" data-pswp-height="800">
                        <img src="{{ steam_user.avatarmedium }}" class="avatar" alt="avatar">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
{% endblock %}