{% extends 'base.html' %}

{% block content %}
<div class="main-grid">
    <div class="frame">
        <div class="shimmer"></div>
        <iframe src="/cards/steam"></iframe>
    </div>
    <div class="frame">
        <div class="shimmer"></div>
        <iframe src="/cards/github"></iframe>
    </div>
    <script>
        document.querySelectorAll('.frame iframe').forEach(iframe => {
            iframe.addEventListener('load', () => {
                iframe.classList.add('loaded');
            });
        });
    </script>
</div>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
{% endblock %}

{% set description = "Дашборд моего сайта" %}