<aside class="navigation" id="navigation">
    <ul class="nav-list" id="navigation-list">
        {% from "macros/navigation.html" import nav_item %}
        {% for item in navigation %}
            <li class="nav-item">
                {{ nav_item(item) }}
                {% if item.children %}
                    <ul class="sub-nav">
                        {% for child in item.children %}
                        <li class="nav-item">
                            {{ nav_item(child) }}
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <div class="hover-bar" id="hover-bar"></div>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='theme_switch.css') }}">
    <div class="switch-cont">
        <label class="switch">
            <input class="switch__input" type="checkbox" role="switch" id="theme-toggle" />
            <span class="switch__icon">
                <span class="switch__icon-part switch__icon-part--1"></span>
                <span class="switch__icon-part switch__icon-part--2"></span>
                <span class="switch__icon-part switch__icon-part--3"></span>
                <span class="switch__icon-part switch__icon-part--4"></span>
                <span class="switch__icon-part switch__icon-part--5"></span>
                <span class="switch__icon-part switch__icon-part--6"></span>
                <span class="switch__icon-part switch__icon-part--7"></span>
                <span class="switch__icon-part switch__icon-part--8"></span>
                <span class="switch__icon-part switch__icon-part--9"></span>
                <span class="switch__icon-part switch__icon-part--10"></span>
                <span class="switch__icon-part switch__icon-part--11"></span>
            </span>
            <span class="switch__sr">Dark Mode</span>
        </label>
    </div>
</aside>

<script>
const nav = document.getElementById('navigation-list');
const hoverBar = document.getElementById('hover-bar');

document.querySelectorAll('.nav-link').forEach(item => {
    // проверяем, что элемент <a>
    if (item.tagName.toLowerCase() !== 'a') return;

    item.addEventListener('mouseenter', () => {
        const itemRect = item.getBoundingClientRect();
        const navRect = nav.getBoundingClientRect();

        hoverBar.style.top = (itemRect.top - navRect.top) + 'px';
        hoverBar.style.height = itemRect.height + 'px';
        hoverBar.style.opacity = 1;
    });
});

nav.addEventListener('mouseleave', () => {
    hoverBar.style.opacity = 0;
});
</script>